@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  @apply bg-offWhite rounded-[10px] focus:outline-none focus:ring-2 focus:ring-purple-500 py-2 placeholder:text-[14px] text-[14px] font-medium placeholder:text-neutral-dark text-monokai shadow-custom-black;
}

textarea {
  @apply bg-offWhite rounded-[10px] focus:outline-none focus:ring-2 focus:ring-black py-2 placeholder:text-[14px] text-[14px] resize-none font-medium placeholder:text-neutral-dark text-monokai shadow-custom-black;
}

thead > tr {
  @apply bg-white border-none shadow-none;
}

tr {
  @apply py-2 border-b-2 border-neutral-dark border-opacity-5;
}

th {
  @apply text-monokai font-semibold text-[16px] text-start py-3;
}

tr > th {
  @apply font-bold;
}

td {
  @apply py-2;
}

::selection {
  @apply bg-purple-500 text-white;
}

::-moz-selection {
  @apply bg-purple-500 text-white;
}

.table-row-fixed-height {
  height: 80px;
}

.table-cell-content-limit {
  max-height: 100%;
  overflow-y: auto;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.small-1 {
  @apply text-sm text-monokai;
}

.large-1 {
  @apply text-lg text-monokai;
}

.big-1 {
  @apply text-xl text-monokai;
}

.big-2 {
  @apply text-2xl text-monokai;
}

.big-3 {
  @apply text-3xl text-monokai;
}

.big-4 {
  @apply text-4xl text-monokai;
}

.big-5 {
  @apply text-5xl text-monokai;
}

.big-6 {
  @apply text-6xl text-monokai;
}

.text-display {
  @apply lg:text-[4rem] xs:text-[2rem] lg:leading-[4.5rem] xs:leading-[2.5rem] font-semibold;
}

.text-extra {
  @apply lg:text-[3rem] xs:text-[2rem] lg:leading-[4rem] xs:leading-[2.5rem] font-medium;
}

.text-title {
  @apply lg:text-[2rem] xs:text-[1.5rem] lg:leading-[3rem] xs:leading-[1.8rem] font-bold;
}

.text-subtitle {
  @apply lg:text-[1.85rem] xs:text-[1.4rem] lg:leading-[2.7rem] xs:leading-[2rem] font-bold;
}

.text-subdisplay {
  @apply lg:text-[1.25rem] lg:leading-[1.75rem] xs:text-[1rem] xs:leading-[1.25rem];
}

.text-button {
  @apply lg:text-[1.25rem] lg:leading-[1.75rem] xs:text-[1rem] xs:leading-[1.25rem] font-semibold;
}

.text-small {
  @apply lg:text-[0.8rem] lg:leading-[1rem] xs:text-[0.7rem] xs:leading-[0.8rem];
}

.text-body {
  @apply text-[1rem] leading-[1.5rem];
}

.text-subbody {
  @apply text-[0.9rem] leading-[0.9rem];
}

.text-tiny {
  @apply text-[0.7rem] leading-[0.7rem];
}
