@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  @apply bg-white dark:bg-monokai rounded-[10px] focus:outline-none py-2 text-[14px]  font-medium placeholder:text-neutral-light placeholder:dark:text-neutral-dark text-monokai dark:text-white shadow-custom-black dark:shadow-custom-white;
}

textarea {
  @apply bg-white dark:bg-monokai rounded-[10px] focus:outline-none py-2 text-[14px] resize-none font-medium placeholder:text-neutral-light placeholder:dark:text-neutral-dark text-monokai dark:text-white shadow-custom-black dark:shadow-custom-white;
}

thead > tr {
  @apply bg-slate-50 dark:bg-monokai-faded border-none shadow-none;
}

tr {
  @apply py-2 border-b-2 border-neutral-dark dark:border-neutral-light border-opacity-5 dark:border-opacity-5;
}

th {
  @apply text-monokai dark:text-white font-semibold text-[16px] text-start py-3;
}

tr > th {
  @apply font-[700];
}

td {
  @apply py-2;
}

::selection {
  @apply bg-neutral-dark dark:bg-neutral-light text-white dark:text-monokai;
}

::-moz-selection {
  @apply bg-neutral-dark dark:bg-neutral-light text-white dark:text-monokai;
}

.table-row-fixed-height {
  height: 80px;
}

.table-cell-content-limit {
  max-height: 100%;
  overflow-y: auto;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

.small-1 {
  @apply text-sm text-monokai dark:text-white;
}

.large-1 {
  @apply text-lg text-monokai dark:text-white;
}

.big-1 {
  @apply text-xl text-monokai dark:text-white;
}

.big-2 {
  @apply text-2xl text-monokai dark:text-white;
}

.big-3 {
  @apply text-3xl text-monokai dark:text-white;
}

.big-4 {
  @apply text-4xl text-monokai dark:text-white;
}
